<script src="https://use.fontawesome.com/e3de159a9c.js "></script>
<script src="vendors/js/jquery-3.2.1.min.js "></script>
<script src="js/main.js "></script>
<script src="js/app.js "></script>
</body>

</html>
