<!DOCTYPE HTML>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--Link Bootstrap, Font Awesome, CSS, animate.css-->
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link rel='stylesheet' type='text/css' href='vendors/css/normalize.css'>
  <link rel="stylesheet" type="text/css" href="vendors/css/grid.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <title>Insta-Search | Instagram Clone</title>
</head>

<body>
